<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
  <div class='container'>
  <h1 id="heading">Welcome to Legendary Rectangles!</h1>
  <a th:href="@{/rectangles}"><button class = 'button' id='btn1'>Add Rectangles</button></a>
  <a th:href="@{/rectangles/view}"><button class = 'button' id='btn2'>View Rectangles</button></a>
  <a th:href="@{/rectangles/view}"><button class = 'button' id='btn3'>Delete Rectangles</button></a>
  </div>
</body>
</html>
