<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/success.css">

</head>
<body>
    <div class="container">
    <h1>RECTANGLE ADDED SUCCESSFULLY TO THE DATABASE!</h1>
    <a th:href="@{/rectangles/view}"><button class='button'>View Rectangles</button></a>
</div>
</body>
</html>